.page-block--center-slider {
  @apply py-30;
  @screen lg {
    @apply .py-60;
  }
  .center-slider {
    @apply .opacity-0 .invisible;
    transition: opacity 400ms;
    &.slick-initialized {
      @apply .visible .opacity-100;
    }
    h3 {
      transition: opacity 400ms ease;
    }
    .slide {
      @apply .relative w-full;
      height: 300px;
      @screen md {
        margin: 0 25px;
        width: 555px;
        height: 346px;
      }
      &:after {
        content: "";
				@apply .absolute w-full .opacity-0;
				transition: opacity 400ms;
        height: 138px;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
          -180deg,
          rgba(0, 0, 0, 0) 0%,
          #000000 100%
        );
      }
      &.slick-active {
				&:after,
        h3 {
          @apply .opacity-100;
        }
      }
    }
    .slick-dots {
      bottom: -40px;
      left: 0;
    }
  }
}

.events-slider,
.testimonials-slider,
.center-slider {
  .slick-dots {
    li {
      margin: 0 12.5px;
      button {
        @apply .relative;
        width: 10px;
        height: 10px;
        background: #7f7f7f;
        &:before {
          @apply .absolute .rounded-full;
          content: "";
          width: 16px;
          height: 16px;
          border: 1px solid transparent;
          left: -3px;
          top: -3px;
        }
      }
      &.slick-active {
        button {
          @apply .bg-primary;
          &:before {
            @apply .border-primary;
          }
        }
      }
    }
  }
}
