.page-block--testimonials {
  @apply pt-30 pb-60;
  .block-title {
    @apply mb-10;
    @screen md {
      margin-bottom: 32px;
    }
  }
  .container {
    @apply px-0;
  }
  @screen lg {
    @apply pt-60;
    padding-bottom: 105px;
  }
}

.testimonials-slider {
  @apply .mx-auto;
  .slide {
    @apply .bg-white .outline-none .opacity-0 .invisible mx-20;
    margin-top: 24px;
    margin-bottom: 24px;
    transition: all 500ms ease-in-out;
    min-height: 357px;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    @screen md {
      @apply mx-40;
    }
    @screen xl {
      margin-left: 110px;
      margin-right: 110px;
    }
    &.slick-active {
      @apply .opacity-100 .visible;
    }
    hr {
      height: 2px;
      background: #f7f7f7;
      margin-top: 18px;
      margin-bottom: 24px;
    }
  }
  .slick-dots {
    bottom: -13px;
    li {
      @apply .w-auto .h-auto;
      margin: 0 15px;
      button {
        @apply p-0 .rounded-full;
        background: #d8d8d8;
        width: 12px;
        height: 12px;
      }
      &.slick-active {
        button {
          background: #595959;
        }
      }
    }
  }
  .avatar {
    margin-right: 12px;
    width: 64px;
    height: 64px;
  }
  .test-title,
  .test-subtitle {
    line-height: 1.1875;
  }
  .test-subtitle {
    color: #7f7f7f;
  }
  .test-info {
    @apply p-20;
    border-radius: 10px 10px 0 0;
    @screen lg {
      @apply py-40 px-60;
      border-radius: 10px 0 0 10px;
    }
    .quote-mark {
      margin-right: 8px;
      img {
        width: 20px;
        @screen md {
          width: 40px;
        }
      }
    }
    .quote-content {
      width: calc(100% - 28px);
      @screen md {
        width: calc(100% - 48px);
      }
    }
  }
  .test-media {
    @apply .relative;
    border-radius: 0 0 10px 10px;
    min-height: 200px;
    &::before {
      @apply .bg-black .absolute .w-full .h-full .opacity-50;
      border-radius: 0 0 10px 10px;
      content: "";
      left: 0;
      top: 0;
    }
    .play {
      width: 64px;
      height: 64px;
    }
    @screen md {
      min-height: 357px;
    }
    @screen lg {
      border-radius: 0 10px 10px 0;
      &::before {
        border-radius: 0 10px 10px 0;
      }
    }
  }
}
