.events-nav {
  margin-top: 56px;
  .grey-bar {
    @apply w-full .absolute z-10;
    background-color: #e1e1e1;
    left: 0;
    bottom: 6px;
    height: 1px;
  }
  .timeline-bar {
		@apply .absolute .bg-black z-20;
		width: 0;
    transition: all 1000ms;
    left: 0;
    bottom: 6px;
    height: 1px;
  }
  .timeline-dot {
    @apply .absolute .bg-black .rounded-full z-40;
    transition: all 1000ms;
    width: 12px;
    height: 12px;
    bottom: 0;
  }
  .dot {
    @apply .rounded-full .relative z-30;
    transition: all 2000ms;
    width: 12px;
    height: 12px;
    background-color: #f7f7f7;
    border: 1px solid #f0f0f0;
    &--past {
      @apply .bg-white .border-black;
    }
  }
}

.events-slider {
  margin-top: 46px;
  max-width: 920px;
  p {
    @apply text-grey .leading-lg mt-20;
  }
  .event-slide {
    @screen lg {
      @apply .opacity-0;
      transition: opacity 2000ms;
      &.slick-active {
        @apply .opacity-100;
      }
    }
  }
  .slick-dots {
    @apply .relative mt-20;
    bottom: 0;
  }
}
