html,
body {
  @apply .font-display font-normal;
}

* {
  box-sizing: border-box;
}

p {
  @apply .font-display text-base .font-normal;
  line-height: 1.5;
}

.button-shadow {
  box-shadow: 0 6 18px 0 black;
}

a {
  @apply .no-underline;
  transition: color 400ms;
  &:hover {
    @apply .text-primary;
  }
}

ul.menu {
  @apply .list-reset;
}

.container {
  @apply .relative w-full px-20;
  margin: 0 auto;
  max-width: 1140px;
  @screen xl {
    @apply .px-0;
  }
  &--wide {
    @apply px-20;
    max-width: 1350px;
    @media screen and (min-width: 1351px) {
      padding-left: 48px;
      padding-right: 48px;
    }
  }
}

.page-block {
  .block-title {
    line-height: 1.333333;
  }
  .block-subtitle {
    color: #7f7f7f;
    line-height: 1.43;
  }
}

.slick-dots {
  li {
		@apply .w-auto .h-auto;
    button {
			@apply p-0 .rounded-full;
      &::before {
        content: none;
      }
    }
  }
}

.dark-overlay {
	@apply .relative;
	&::before {
		content: "";
		@apply .absolute .w-full .h-full z-10;
		background-color: rgba(0, 0, 0, .5);
	}
}

.site-content {
	@apply .overflow-x-hidden;
}