.page article,
.single article {
  @apply pb-60;
  @screen lg {
    padding-bottom: 120px;
  }
}
.post-featured {
	height: 296px;
	@screen lg {
		height: 555px;
	}
}

.post-excerpt {
  @apply .mb-40;
  @screen lg {
    @apply mb-80;
  }
  p {
    @apply text-sm text-grey;
    line-height: 1.712;
  }
}

.post-info {
  .metadata {
    img {
      width: 20px;
      margin-right: 15px;
    }
    > div {
      border-bottom: 1px solid #e3e3e3;
      width: calc(100% - 35px);
      p:first-of-type {
        margin-bottom: 6px;
      }
    }
  }
}

.work-gallery {
  > a {
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

// Single Post
.single-post {
	.post-featured {
		@apply .relative .h-auto;
		min-height: 264px;
		&:before {
			content: "";
			@apply .absolute .w-full .h-full z-10;
			background-color: rgba($color: #000000, $alpha: .4);
			left: 0;
			top: 0;
		}
		@screen lg {
			min-height: 494px;
		}
	}
	.post-header {
		max-width: 770px;
	}
	.post-content {
		p {
			@apply .mx-auto;
			max-width: 730px;
			line-height: 1.75;
		}
		p,
		.wp-block-image {
			@apply mb-20;
			@screen lg {
				margin-bottom: 48px;
			}
			&:last-child {
				@apply mb-0;
			}
		}
	}
}

.post-navigation {
	.post-prev,
	.post-next {
		@apply py-10;
		min-height: 150px;
		a {
			@screen lg {
				&:hover {
					i,
					span {
						@apply .text-primary;
						transition: color 500ms;
					}
				}
			}
		}
	}
}

// Single Page
.single-page {

}
